<div class="card my-5">
    <div class="card-body">
        <div class="card my-5">
            <div class="card-body">
              <table class="table table-bordered table-striped">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Address</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let user of user">
                    <td>{{user.id}}</td>
                    <td>{{user.name}}</td>
                    <td>{{user.address}}</td>
                  </tr>
                </tbody>
            </table>
            </div>
          </div>